    $btn-orange: #ff7f04; // Variables
    .btn-orange {
        background-color: $btn-orange;
    }
    
    .fw-600 {
        font-weight: 600;
    }
    
    .lh-2 {
        line-height: 2;
    }